---
// Layouts
import BaseLayout from "../layouts/BaseLayout.astro";

// Components
import TheVideo from '../components/TheVideo.astro';
import TheTime from '../components/TheTime.astro';
import TheDate from '../components/TheDate.astro';
import TheWeather from '../components/TheWeather.astro';

// Styling
import '../styles.css';
---

<BaseLayout>

	<TheVideo />

	<main class="layout">
		<div class=""datetime-container">

		<TheDate />
		
		<TheTime />

		</div>
		<TheWeather />

		<h1 class="upcoming">Upcoming</h1>
		
		<h1 class="birth">Birthdays</h1>
		<ul>
			<li>VOLLEYBALL AT 3:00pm</li>
			<li>DINNER AT 6:00pm</li>
			<li>MOVIE NIGHT AT 10:00pm</li>

		</ul>
			<ul class="Birthday">
			<li>VOLLEYBALL AT 3:00pm</li>
			<li>DINNER AT 6:00pm</li>
			<li>MOVIE NIGHT AT 10:00pm</li>

		</ul>
		

		


	</main>

</BaseLayout>
