/* Grid */
.layout {
  /* Set your own grid   */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 400px;
  grid-column-gap: 1em;
  margin: 5em;

}

/* Widgets */
section {
  
  padding: 1em;
  
  /* Relative Parent. Absolute Child */
  position: relative;
}

/* Time */
.time {
  font-family: lato;
  font-size: 5em;
  
}

.hours {
}

.minutes {
}

.seconds {
  display: none;
}

.amOrPM {
  
}

/* Date */
.date {
  
  font-family: lato;
}

.month {
  Font-size: 2em;
}

.dayOfMonth {
  Font-size: 2em;
}

.year {
  Font-size: 2em;
}

.dayOfWeek {
  Font-size: 2em;
}

/* Weather */
.weather {
  font-family: lato;
  
}

.city {
  
}

.temp {
  
}

.weather img {
  
}

/* Smart Mirror */
video { 
  
  /* Position video      */
    position: absolute;
    top: 0;
    left: 0;
    /* Stretch to fill viewport */
    width: 100vw;
    height: 100vh;
    /* stack behind content     */
    z-index: -1;
    /* fill background with video    */
  object-fit: cover;
  object-position: center;
  
}