/* Grid */
.layout {
  /* Set your own grid   */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 400px;
  grid-column-gap: 1em;
  margin: 5em;

}

/* Widgets */
section {
  
  /* padding: ; */
  
  /* Relative Parent. Absolute Child */
  position: relative;
}

/* Time */
.time {
  font-family: lato;
  font-size: 4em;
  display: flex;
  color: white;
  align-items: center;
  
}


.datetime-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 0.5em; 
  justify-content: center;


  position: absolute;
  right: 40%;
  padding: 1em;
  
}




.hours {
}

.minutes {
}

.seconds {
  display: none;
}

.amOrPM {
  
}

/* Date */
.date {
  font-family: lato;
  color: white;
}

.month {
  Font-size: 2em;
}

.dayOfMonth {
  Font-size: 2em;
}

.year {
  Font-size: 2em;
}

.dayOfWeek {
  Font-size: 2em;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Lato, sans-serif;
  gap: 0.5em; 
   width: auto;
  max-width: 200px;
  height: 100px;
  margin-left: auto;
  color: white;

}

.weather .icon {
  width: 200px;
 
  height: 200px;
  object-fit: contain;
}

.weather .temp {
  font-size: 3em;
}

.weather .city {
  font-size: 2em;
}

li{
  padding:.5em;
  color: white;
}

.upcoming{
  margin-left: 2em;
  color: white;
}
  .Birthday {
  margin-left: auto; /* Pushes the Birthday list to the right */
  list-style-type: none; /* Optional: remove bullet points */
  padding: 0;
  color: white;
}

.birth{
  margin-left: auto; /* Pushes the Birthday list to the right */
  list-style-type: none; /* Optional: remove bullet points */
  padding: 1;
  margin-right: 1em;
  color: white;
}

/* Smart Mirror */
video { 

  border: solid white 2em;
   box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.7); 
  
  /* Position video      */
    position: absolute;
    top: 0;
    left: 0;
    /* Stretch to fill viewport */
    width: 100vw;
    height: 100vh;
    /* stack behind content     */
    z-index: -1;
    /* fill background with video    */
  object-fit: cover;
  object-position: center;
  
}