/* Grid */
.layout {
  /* Set your own grid   */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 400px;
  grid-column-gap: 1em;
  margin: 5em;

}

/* Widgets */
section {
  
  /* padding: ; */
  
  /* Relative Parent. Absolute Child */
  position: relative;
}

/* Time */
.time {
  font-family: lato;
  font-size: 5em;
  display: flex;
  
  align-items: center;
  
}


.datetime-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 0.5em; 
  justify-content: center;


  position: absolute;
  right: 40%;
  padding: 1em;
  
}




.hours {
}

.minutes {
}

.seconds {
  display: none;
}

.amOrPM {
  
}

/* Date */
.date {
  font-family: lato;
}

.month {
  Font-size: 2em;
}

.dayOfMonth {
  Font-size: 2em;
}

.year {
  Font-size: 2em;
}

.dayOfWeek {
  Font-size: 2em;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Lato, sans-serif;
  gap: 0.5em; 
   width: auto;
  max-width: 200px;
}

.weather .icon {
 
  height: 60px;
  object-fit: contain;
}

.weather .temp {
  font-size: 1.5em;
}

.weather .city {
  font-size: 1em;
}

/* Smart Mirror */
video { 
  
  /* Position video      */
    position: absolute;
    top: 0;
    left: 0;
    /* Stretch to fill viewport */
    width: 100vw;
    height: 100vh;
    /* stack behind content     */
    z-index: -1;
    /* fill background with video    */
  object-fit: cover;
  object-position: center;
  
}